<section class="container">
    <div style="display: flex;justify-content: center;margin-top: 3rem;">
        <img src="https://cdn3.iconfinder.com/data/icons/shopping-and-commerce-42/100/Place_Order-512.png" alt="">
    </div>
     <div style="display: flex;justify-content: center;">
        <a class="btn btn-primary landfont" href="/orders">VIEW ORDER</a>
        </div>
</section>